<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <% if(locals.loggedin==1) { %>
        <div id="tools">
            <a title="Contact Us" href="/contactUs"><img id="envelopeIcon" src="/images/site/envelope.png"
                    alt="Envelope Icon">Contact Us</a>
            <a title="Account management" href="/account">Welcome, <%- locals.accountData.account_firstname %> </a> | <a
                title="Click to log out" href="/account/logout">Logout</a>
        </div>
        <% } else { %>
            <div id="tools">
                <a title="Contact Us" href="/contact"><img id="envelopeIcon" src="/images/site/envelope.png"
                        alt="Envelope Icon">Contact Us</a>
                <a title="Click to log in" href="/account/login">My Account</a>
            </div>
            <% } %>
</header>